@model List<SlojPodataka.Modeli.Prisustvo>

<h2>Prisustva</h2>

<a asp-action="Dodaj">
    Dodaj prisustvo
</a>

<table border="1">

    <tr>
        <th>Učenik</th>
        <th>Predmet</th>
        <th>Čas</th>
        <th>Prisutan</th>
    </tr>

    @foreach (var p in Model)
    {
        <tr>
            <td>
                @p.Ucenik.Ime @p.Ucenik.Prezime
            </td>

            <td>
                @p.Cas.Predmet.Naziv
            </td>

            <td>
                @p.Cas.DatumVreme
            </td>

            <td>
                @(p.Prisutan ? "DA" : "NE")
            </td>
        </tr>
    }

</table>

<hr />

<h3>Provera prisustva po predmetu</h3>

<a asp-action="Provera">
    Proveri prisustvo
</a>